<div class="wrapper">
  <nav class="footer">
    <ul class="p-4" >
      <li > 
        <a href="#" class="text-uppercase">product</a>
      </li>
      <li >
        <a href="#" class="text-uppercase">about</a>
      </li>
      <li >
        <a href="#" class="text-uppercase">portfolio</a>
      </li>
      <li >
        <a href="#" class="text-uppercase">contact</a>
      </li>
      <li >
        <a href="#" class="text-uppercase">cart(1)</a>
      </li>
    </ul>
    <div class="container ">
      <div class="row justify-content-center p-5 icon-p">
        <div class="col-1">
          <a href="#"><i class="bi bi-instagram icon-cl"></i></a>
        </div>
        <div class="col-1">
          <a href="#"><i class="bi bi-twitter icon-cl"></i></a>
        </div>
        <div class="col-1">
          <a href="#"><i class="bi bi-facebook icon-cl"></i></a>
        </div>
      </div>
      <div class="p-4 f-btn">
        <button class="f1-btn   text-uppercase fw-light">back to site</button>
      </div>
      <div class="c-n p-4">
        <a href="#">Powered by <strong>A&S</strong></a>
      </div>
    </div>
  </nav>
</div>