<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container ">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup"> 
        <ul class="navbar-nav fs-5">
          <li  class="nav-item "> 
            <a class="nav-link text-uppercase" href="product">product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="portfolio">portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="contact">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="cart">cart(1)</a>
          </li>
        </ul>
    </div>
  </div>
</nav>