<div class="main">
  <div class="container aka">
    <%= image_tag('AKA.webp', class: "aka-img") %>                    
  </div>
  <div class="about wrapper">
    <h1 class="text-uppercase fs-1 fw-light text-center">About</h1>
    <p ><strong>Wildzfreak©</strong> I’m Graphic Designer base on Bangkok.<br>
    Now I’m working as a freelance illustrator, – doing character design, artwork and merchandising.<br><br>
    All the products are authentic and 100% created by the artists, the products are accompanied with the artists' signature and numbering. The products are checked for quality and handled with care by our trusted logistics department before shipping to you.</p>
  </div>
</div>