<div class="main">
  <div class="container aka">
    <%= image_tag('AKA.webp', class: "aka-img") %>                    
  </div>
  <div class="about wrapper">
    <h1 class="text-uppercase fs-1 fw-normal text-center">TERMS & CONDITIONS</h1>
    <h3 class="text-uppercase fs-5 ">TERMS & CONDITIONS</h3>
    <p >For pre-order art prints and products. Please allow up to 20 days from the day of purchase, for us to receive the fine art prints from our supplier, after which, please allow the artist(s) to sign and number the fine art print(s)/art work(s)/product(s) as proof of art work authenticity.</p>
  </div>
</div>